$red: rgb(220, 20, 20);
$black: rgb(45, 45, 45);
$green: rgb(50, 150, 50);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin button($bgColor: $red, $p: 0.25rem) {
  border: 1px solid $black;
  background-color: $bgColor;
  padding: $p;
  cursor: pointer;
  color: white;
  border-radius: 0.25rem;
}

.Background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -5;
  background: {
    image: url("https://fotografias.larazon.es/clipping/cmsimages02/2023/11/08/261FCB39-7942-46E7-9EB5-429F43BC52EF/personas-que-adelantan-navidad-son-mas-felices-segun-estudio_98.jpg?crop=1600,900,x0,y0&width=1900&height=1069&optimize=low&format=webply");
    size: cover;
    position: center;
  }

  .loading {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.5rem);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.Home {
  display: flex;
  flex-direction: column;
  border: 1px solid $black;
  padding: 2rem;
  gap: 2rem;
  background-color: $red;
  color: white;
}

.Input {
  @include button($bgColor: $green, $p: 0.5rem);
}

.InputForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  input {
    padding: 0.5rem;
    border: 1px solid $black;
    border-radius: 0.25rem;
  }

  .mini {
    display: flex;
    gap: 1rem;

    input {
      flex-grow: 1;
    }

    button,
    span {
      @include button($bgColor: $green, $p: 0.5rem);
    }
  }
}

.List {
  padding: 0.75rem;
  background-color: white;
  border: 1px solid $black;
  color: $black;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      gap: 0.25rem;
      align-items: center;

      p {
        flex-grow: 1;
        text-align: start;
      }

      span {
        margin: 0 0.25rem;
      }

      .Open {
        @include button($bgColor: $green);
      }

      .Dupe {
        @include button($bgColor: rgb(6, 93, 216));
      }

      .Edit {
        @include button($bgColor: #ecb213);
      }

      .Delete {
        @include button();
      }
    }
  }
}

.Visualize {
  width: 100%;
  @include button($p: 0.5rem, $bgColor: rgb(6, 93, 216));
}

.Visualizer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      gap: 0.25rem;
      align-items: center;

      p {
        flex-grow: 1;
        text-align: start;
      }

      span {
        margin: 0 0.25rem;
      }
    }
  }

  button {
    @include button($p: 0.5rem);
  }
}

.Clearer {
  width: 100%;
  @include button($p: 0.5rem);
}

.ModalHandler {
  position: sticky;
  height: 100vh;
  opacity: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.5rem);
  transition: all 0.375s ease;

  .Frame {
    position: relative;
    padding: 3rem 1rem;
    background-color: white;
    border: 1px solid $black;
    border-radius: 0.25rem;

    .Close {
      @include button();
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
    }
  }

  &.active {
    opacity: 1;
  }
}

.Display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.MusicPlayer {
  @include button($p: 0.5rem, $bgColor: rgb(233, 233, 233));
  color: $red;
  align-self: center;
  border-radius: 50%;
}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
