$black: rgb(45, 45, 45);
$green: rgb(50, 200, 50);
$red: rgb(220, 20, 20);

@mixin button($color: $green, $padding: 0.25rem) {
  background-color: $color;
  border: 1px solid $black;
  padding: $padding;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Background {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
  background: {
    image: url("https://t2.uc.ltmcdn.com/es/posts/2/4/1/cual_es_el_significado_de_los_adornos_de_la_navidad_16142_orig.jpg");
    size: cover;
    position: center;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.Home {
  background-color: $red;
  padding: 2rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Input {
  width: 100%;
  display: flex;
  gap: 0.25rem;

  #name {
    flex-grow: 1;
  }

  #quantity {
    width: 40px;
  }

  button {
    @include button($color: $green, $padding: 0.5rem);
  }

  * {
    border: 1px solid $black;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }
}

.List {
  width: 100%;
  background-color: white;
  padding: 1rem;
  color: $black;
  border: 1px solid $black;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    li {
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;

      p {
        flex-grow: 1;
        text-align: start;
      }

      button {
        @include button($color: $red);
      }
    }
  }
}

.Clearer {
  @include button($color: $red, $padding: 0.5rem )
}
